# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/

# Backend specific
backend/.venv/
backend/uploads/
backend/instance/
backend/weights/*.pt
!backend/weights/.gitkeep

# Project
*.mp4
!demo/*.gif

# System
.DS_Store
.vscode/
.idea/
