@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #191a1a;
    /*background-image: url(/static/img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center calc(50% - 225px);*/
}

/*  Header | Header | Header | Header | Header | Header | Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
    max-height: 74px;
    /*backdrop-filter: blur(2px);*/
}

header a {
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    max-width: 80px;
    height: auto;
    padding: 14px 0;
}

.text {
    color: #8d9191;
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    margin-left: -10px;
    white-space: nowrap;
}

header button {
    padding: 5px 10px;
    background: none;
    border: 1px solid #8d9191;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: #e8e8e6;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
}

header button:hover {
    background-color: #2d2f2f;
}

/* Main | Main | Main | Main | Main | Main | Main | Main | Main | Main | Main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 152px);
}

.opening {
    margin-bottom: 20px;
}

.opening h1 {
    font-size: 45px;
    color: #fbfaf4;
}

.opening p {
    font-size: 16px;
    color: #fbfaf480;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area {
    width: 420px;
    height: 238px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px 40px;
    transition: all 0.3 ease 0s;
    border: 3px dashed #F97300;
}

#drop-area:hover {
    background-color: #2d2f2f;
}

#file-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.choose-file {
    /* button */
    background-color: #F97300;
    padding: 4px 24px 4px 32px;
    border: none;
    border-radius: 25px;
    width: 213px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    color: #fbfaf4;
}

.choose-file img {
    width: 32px;
    height: 32px;
    margin: 0 0 0 12px;
}

.acceptf {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.accept {
    background-color: #F97300;
    padding: 5px 14px 5px 10px;
    margin: 0 8px;
    border: none;
    border-radius: 10px;
    width: 94px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 10px;
    color: #fbfaf4;
    font-weight: bold;
}

.accept img {
    width: 31px;
    height: 26px;
    padding: 0 4px 0 0;
}

#file-view p {
    font-size: 16px;
    color: #e8e8e6;
}

#loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
}

#loading img {
    max-width: 300px;
    border-radius: 10px;
}

#loading p {
    font-size: 25px;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #13343b;
}

#loading span {
    font-size: 14px;
    font-weight: 400;
    color: #64645f;
}

/* Footer | Footer | Footer | Footer | Footer | Footer | Footer | Footer | Footer | Footer | Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 48px;
    height: 78px;
}

footer p {
    color: #e8e8e680;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    margin-top: 15px;
}